trigger:
- '*'

variables:
  buildConfiguration: 'Release'
  releaseBranchName: 'release'

stages:
- stage: Build
  displayName: 'Build the web application'
  jobs: 
  - job: Build
    displayName: 'Build job'
    pool:
      name: PRO690Self

    variables:
      wwwrootDir: 'Tailspin.SpaceGame.Web/wwwroot'
      dotnetSdkVersion: '8.x'

    steps:
    - task: UseDotNet@2
      displayName: 'Use .NET SDK $(dotnetSdkVersion)'
      inputs:
        version: '$(dotnetSdkVersion)'

    - task: NodeTool@0
      displayName: 'Use Node.js 14.x'
      inputs:
        versionSpec: '14.x'

    - task: Npm@1
      displayName: 'Run npm install'
      inputs:
        command: 'install'
        verbose: false

    - task: Npm@1
      displayName: 'Install gulp-cli globally'
      inputs:
        command: 'custom'
        customCommand: 'install -g gulp-cli'

    - script: './node_modules/.bin/node-sass $(wwwrootDir) --output $(wwwrootDir)'
      displayName: 'Compile Sass assets'

    - task: gulp@1
      displayName: 'Run gulp tasks'

    - script: 'echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt'
      displayName: 'Write build info'
      workingDirectory: $(wwwrootDir)

    - task: DotNetCoreCLI@2
      displayName: 'Restore project dependencies'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Build the project - $(buildConfiguration)'
      inputs:
        command: 'build'
        arguments: '--no-restore --configuration $(buildConfiguration)'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Publish the project - $(buildConfiguration)'
      inputs:
        command: 'publish'
        projects: '**/*.csproj'
        publishWebProjects: false
        arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)'
        zipAfterPublish: true

    - publish: '$(Build.ArtifactStagingDirectory)'
      artifact: drop

- stage: Test
  displayName: 'Run tests'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Test
    displayName: 'Test job'
    pool:
      name: PRO690Self

    steps:
    - download: current
      artifact: drop

    - task: DotNetCoreCLI@2
      displayName: 'Run unit tests'
      inputs:
        command: 'test'
        projects: '**/*Tests.csproj'
        arguments: '--configuration $(buildConfiguration) --no-build'

- stage: Deploy
  displayName: 'Deploy to dev environment'
  dependsOn: Test
  condition: succeeded()  
  jobs:
  - deployment: DeployToDev
    displayName: 'Deploy to dev'
    pool:
      name: 'PRO690T'

    environment: dev
    variables:
    - group: Release
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            displayName: 'Azure App Service Deploy: dev website'
            inputs:
              azureSubscription: 'Azure subscription 1(3)(4fe8aed8-9ba0-4e60-8014-cb5e1d19b9b7)'
              appType: 'webAppLinux'
              appName: '$(WebAppNameDev)'
              package: '$(Pipeline.Workspace)/drop/$(buildConfiguration)/*.zip'